<%= stylesheet_link_tag 'application' %>

<h2>Video Game List</h2>

<%= link_to "Create A New Video Game", new_video_game_path, class: "submit" %><br />

<%= render "video_games/search_by_genre" %><br />

<%= render "video_games/all_games"%><br />

<div class="display_games">
</div>

<%= link_to "Back", players_path(current_player), class: "button" %><br />

<%= javascript_include_tag "video_game_listener.js" %>
