<%= stylesheet_link_tag 'application' %>
<%= link_to "Home", players_path %><br />
<h2><%= current_player.gamer_tag %>'s Games</h2>
 <ol>
  <% @play_sessions.each do |session| %>
    <li><%= link_to session.video_game.name, player_video_game_path(current_player, session.video_game) %></li>
    <ul>
      Time Spent Playin: <li><%= session.duration %></li> minutes
    </ul>
  <% end %>
 </ol>


