<h2><%= link_to current_player.gamer_tag, player_path(current_player) %>'s Games</h2>

<ol>
  <% @video_games.each do |game| %>
    <strong><li><%= link_to game.name, video_game_path(game) %></li></strong>
    <ul>
      <li>Time Spent Playing - <%= game.play_sessions.tally(game) %> hours</li>
    </ul><br />
  <% end %>
 </ol>
 <br />
 <%= link_to "View All Individual Play Sessions", player_play_sessions_path(current_player) %><br /><br />

 <%= link_to "Back", players_path(current_player), class: "button" %>
<br />
