<%= stylesheet_link_tag 'application' %>
<div class="individual_game">
<h2><%= @video_game.name %></h2>

<h3>Description: </h3> <%= @video_game.description %><br />
<h3>Rating: </h3><%= @video_game.rating %>/10.0 <br />
<h3>Release Year: </h3><%= @video_game.release_year %><br /><br />

<%= link_to "Edit", edit_video_game_path(@video_game), class: "button" %><br /><br />
<%= link_to "Delete", video_game_path, class: "logout",
                              method: :delete,
                              data: { confirm: 'Are you sure?!' } %><br /><br />
</div>
