<%= stylesheet_link_tag 'application' %>
<div id="welcome">
  <h2>Welcome <%= link_to current_player.gamer_tag, player_path(current_player) %>!</h2>
</div><br />

<div id="menu">
  <%= link_to "Create A New Video Game", new_video_game_path %> <br /><br />
  <%= link_to "Add A Video Game To Your Play List", new_player_play_session_path(current_player) %> <br /><br />
  <%= link_to "View All Games", video_games_path %> <br /><br />
  <%= link_to "View Your Games", players_list_video_games_path %> <br /><br />
</div>
