<%= stylesheet_link_tag 'application' %>
<h2>Welcome <%= link_to current_player.gamer_tag, player_path(current_player) %>!</h2><br />

<%= link_to "Create A New Video Game", new_player_video_game_path(current_player) %> <br />
<%= link_to "Add A Video Game To Your Play List", new_play_session_path(current_player) %> <br />
<%= link_to "View Your Games", player_video_games_path(current_player) %> <br /><br />
<%= link_to "Log Out", destroy_player_session_path, method: :delete %>
