<%= stylesheet_link_tag 'application' %>

<h2><%= current_player.gamer_tag %></h2>

<h3>Name: </h3> <%= current_player.full_name %><br />

<div class="bio">
  <h3>Bio:</h3> <span id="display_bio"> <%= current_player.bio %></span> <br />
</div>

<div class="edit" style="display: none;">
  <h3>Edit Bio:</h3>
  <%= form_for current_player do |f| %>
    <%= f.text_area :bio, size: "50x7" %><br />
    <%= f.submit "Update", class: "update_bio" %><br /><br />
  <% end %>
</div>

<%= link_to "Edit Bio", edit_player_path(current_player), class: "edit_button" %> <br /><br />

<h3>Games Sessions Played: </h3> <%= link_to current_player.play_sessions.count.to_s + " Sessions", player_play_sessions_path(current_player), class: "view_play_sessions" %>

<div class="display_play_sessions" style="display:none;">
</div><br /><br />

 <%= link_to "Back", players_path(current_player), class: "button" %>
<br />

<%= javascript_include_tag "player_listener.js" %>
<%= javascript_include_tag "player.js" %>
