<%= stylesheet_link_tag 'application' %>
<%= link_to "Home", players_path %><br />

<h2><%= current_player.gamer_tag %></h2>

<h3>Name: </h3><%= current_player.full_name %><br />

<h3>Bio:</h3> <%= current_player.bio %><br /><br />
<%= link_to "Edit Bio", edit_player_path(current_player) %>

<h3>Favorite Games: </h3>
  <% @play_sessions.each do |session| %>
    <li><%= link_to session.video_game.name, player_video_game_path(current_player, session.video_game) %></li>
  <% end %>

