<%= stylesheet_link_tag 'application' %>

<h2>Add A Game to Your Play List</h2>

<%= form_for @play_sessions do |f| %>
  Select Game: <%= f.collection_select(:video_game_id, VideoGame.all, :id, :name, include_blank: true) %><br />
  Average Play Time In Minutes: <%= f.text_field :duration %><br />
<%= f.submit "Submit" %>
<% end %>

<br />
 <%= link_to "Back", players_path(current_player) %>
<br />
