<!DOCTYPE html>
<html>
  <head>
    <title>GamePlatform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "Game Face!", players_path %></h1>

    <%= yield %>
    <br />
    <% if current_player %>
    <%= link_to "Log Out", destroy_player_session_path, class: "logout" %>
    <% else %>
    <% false %>
    <% end %>
  </body>
</html>
